
.vs/
/.vs/

/landscape-architecture.WebAPI/Debug/
/landscape-architecture.WebAPI/Release/
/landscape-architecture.WebAPI/x64/
/landscape-architecture.WebAPI/landscape-architecture.WebAPI/landscape-architecture.WebAPI.csproj.user
/landscape-architecture.WebAPI/landscape-architecture.WebAPI/obj/
/landscape-architecture.WebAPI/landscape-architecture.WebAPI/bin/
/landscape-architecture.WebAPI/landscape-architecture.WebAPI.tests/obj/
/landscape-architecture.WebAPI/landscape-architecture.WebAPI.tests/bin/
/landscape-architecture.WebAPI/build/
/landscape-architecture.WebAPI/node_modules/

#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak

#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad

#Other
.svn

# Include DLLs if they're in the NuGet packages directory
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll

/landscape-architecture.WebAPI/dist/
